.main{
	padding-top: 20px;
}
.listusers{
	.search{
		padding: 17px 0px 16px 0px;
	}
	.addusers{
		margin: 10px 0px;
	}
	.table{
		margin-top: 23px;
	}
}
.fa-sort-alpha-asc{
	font-size: 10px;
}
.addusers-table{
	border-left: solid 1px #dddddd;
	h2{
		margin-top: 0px;
	}
	
}
tbody .id,.email{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.scroll {  border: 1px solid #dddddd;
	border-collapse: collapse;  height: 350px;
  }
.scroll tr {
	display: flex;
}
.scroll td, th {
  padding: 3px;  flex: 1 auto;
}
.scroll thead tr:after {
	content: '';
	overflow-y: scroll;
	visibility: hidden;
	height: 0;
}
.scroll thead th{
	height: 40px;
	flex: 1 auto;
	display: block;
}
.scroll tbody {
	display: block;
	width: 100%;
	overflow-y: scroll;
	height: 350px;
}